.register{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000090;
  display: grid;
}

.login-form{
  place-self: center;
  width: 400px;
  color: #808080;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 18px;
  animation: fadeIn 0.2s;
}

.login-state{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login-state p{
  font-size: 20px;
  cursor: pointer;
}

.login-inputs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-inputs input{
  outline: none;
  border: 2px solid #c9c9c9;
  padding: 10px;
  border-radius: 7px;
}

.login-form button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(55, 52, 51);
  font-size: 20px;
  cursor: pointer;
}

.login-condition{
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -15px;
}

.login-condition input{
  margin-top: 5px;
}

.login p span{
  color: rgb(11, 11, 11);
  font-weight: 500;
  cursor: pointer;
}